{% extends "qqbot/manage/_base.html" %}
{% load i18n %}

{% block qqbot_title %}{% translate "Audit log" %} - {% translate "QQ Admin" %}{% endblock qqbot_title %}

{% block manage_body %}
    <form method="get" class="row g-2 align-items-end mb-3">
        <div class="col-12 col-md-4">
            <label class="form-label" for="id_qq">{% translate "QQ number" %}</label>
            <input type="text" name="qq" id="id_qq" inputmode="numeric" class="form-control {% if form.qq.errors %}is-invalid{% endif %}"
                   value="{{ form.qq.value|default_if_none:'' }}" placeholder="{% translate "Only records for this QQ" %}">
            {% for error in form.qq.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
        </div>
        <div class="col-12 col-md-4">
            <label class="form-label" for="id_action">{% translate "Action" %}</label>
            <select name="action" id="id_action" class="form-select">
                {% for value, label in form.fields.action.choices %}
                    <option value="{{ value }}" {% if form.action.value == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-md-4 d-flex gap-2">
            <button type="submit" class="btn btn-primary flex-fill"><i class="fa-solid fa-magnifying-glass fa-fw"></i> {% translate "Filter" context "qqbot" %}</button>
            <a class="btn btn-info" href="{% url 'qqbot:manage_audit' %}">{% translate "Clear" %}</a>
        </div>
    </form>

    {% if rows %}
        <p class="text-body-secondary small">{% blocktranslate count counter=page.paginator.count %}{{ counter }} record in total.{% plural %}{{ counter }} records in total.{% endblocktranslate %}</p>
        {% include "qqbot/manage/_history.html" with show_qq=True %}
        {% include "qqbot/manage/_pagination.html" %}
    {% elif not form.errors %}
        <div class="alert alert-info">{% translate "No audit records found." %}</div>
    {% endif %}
{% endblock manage_body %}
