{% extends "qqbot/manage/_base.html" %}
{% load i18n %}

{% block qqbot_title %}{% translate "Delete group" %} - {% translate "QQ Admin" %}{% endblock qqbot_title %}

{% block manage_body %}
    <div class="card border-danger mb-3">
        <div class="card-header text-bg-danger">{% translate "Confirm group deletion" %}</div>
        <div class="card-body">
            <p class="fs-5">
                {% blocktranslate with name=group.name group_id=group.group_id %}Are you sure you want to delete the group <strong>{{ name }}</strong> (<span class="font-monospace">{{ group_id }}</span>)?{% endblocktranslate %}
            </p>
            <ul>
                <li>{% translate "After deletion the bot stops managing this group, and members no longer see it in the QQ binding card on the Services page." %}</li>
                <li>{% blocktranslate count counter=roster_count %}The member list the bot reported for this group ({{ counter }} member) is deleted too.{% plural %}The member list the bot reported for this group ({{ counter }} members) is deleted too.{% endblocktranslate %}</li>
                {% url 'qqbot:manage_group_edit' group.pk as edit_url %}<li>{% blocktranslate with edit_url=edit_url %}If you only need to pause it, <a href="{{ edit_url }}">edit</a> it and untick "Enabled" instead; you can turn it back on later.{% endblocktranslate %}</li>
            </ul>
            <form method="post" action="{% url 'qqbot:manage_group_delete' group.pk %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-trash fa-fw"></i> {% translate "Confirm delete" %}
                </button>
            </form>
            <a class="btn btn-info ms-2" href="{% url 'qqbot:manage_groups' %}">{% translate "Back, don't delete" %}</a>
        </div>
    </div>
{% endblock manage_body %}
