{% extends "qqbot/manage/_base.html" %}
{% load django_bootstrap5 i18n %}

{% block qqbot_title %}{% if group %}{% translate "Edit group" %}{% else %}{% translate "Add group" %}{% endif %} - {% translate "QQ Admin" %}{% endblock qqbot_title %}

{% block manage_body %}
    <div class="card mb-3">
        <div class="card-header fw-bold">
            {% if group %}{% blocktranslate with name=group.name %}Edit group: {{ name }}{% endblocktranslate %}{% else %}{% translate "Add group" %}{% endif %}
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">{% translate "Not saved: fix the fields marked in red below, then save again." %}</div>
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk fa-fw"></i> {% translate "Save" %}
                </button>
                <a class="btn btn-info ms-2" href="{% url 'qqbot:manage_groups' %}">{% translate "Back, don't save" %}</a>
            </form>
        </div>
    </div>
{% endblock manage_body %}
